/* SM */
@media(min-width:576px) {
    .container-sm {
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

/* md */
@media(min-width:768px) {
    .container-md {
        max-width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

/* lg */
@media(min-width:992px) {
    .container-lg {
        max-width: 960px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-lg-6{
        width: 50%;
    }

}

/*  xl */
@media(min-width:1120px)
{
    .container-xl{
        max-width: 1140x;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-xl-4{
        width: 33.33%;
    }
}

/* xxl */
@media(min-width:1400px)
{
    .container-xxl{
        max-width: 1320px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-xxl-3{
        width: 25%;
    }
}