*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-green:#5ea51d;
}
html,body{
    font-family: 'Nunito-Regular';
}
img{
    width: 100%;
    display: block;
}
.top-100{
    height: 100px;
}
.d-flex{
    display: flex;
}
.direction-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}
.container{
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 100%;
    padding: 10px;
}
.box{
    position: relative;
    height: 250px;
    background-color: #fc6565;
}

/* Section Start */
.sub-heading{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.sub-heading span{
    color:var(--theme-green);
    font-weight: 600;
    font-size: 14px;
}
.heading h1{
    text-align: center;
    color: #000000cc;
    font-size: 54px;
    margin-bottom: 25px;
}





/* Section End */